<% content_for :title, "Books database" %>

<h1 style="text-align: center;">Books database</h1>

<div id="books">
  <% @books.each do |book| %>
    
    <div class="book-card">
      <%= render book %>
      <p style="margin-top: 15px; margin-bottom: 0;">
        <%= link_to "Show this book", book, class: "btn" %>
      </p>
    </div>

  <% end %>
</div>

<br>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "New book", new_book_path, class: "btn" %>
</div>