<h1 style="text-align: center;">Book controls</h1>

<div class="book-card">
  <%= render @book %>
</div>

<div style="text-align: center;">
  <%= link_to "Edit this book", edit_book_path(@book), class: "btn" %>
  <%= link_to "Back to list of books", books_path, class: "btn" %>

  <br>
  <br>
  <%= button_to "Delete this book from the database", @book, method: :delete, form_class: "button-form", class: "btn btn-red" %>
</div>
